<%- include('particles/header.ejs') %>

<%- include('particles/navigation.ejs') %>

<form action="/login" method="post">
    <div class="log">
        <h2 class="log__s">Вход</h2>
        <label class="log__n" for="name">Имя пользователя</label>
        <input class="log__in" type="text" id="name" name="name" placeholder="Имя пользователя">
   
        <label class="log__n" for="password">Пароль</label>
        <input class="log__in" type="password" id="password" name="password" placeholder="Пароль">
   

    <input class="log__button" type="submit" value="   Войти в систему   ">
 </div>
</form>

<form action="/register" method="post">
    <div class="log">
        <h2 class="log__s">Регистрация</h2>
        <label class="log__n" for="name">Имя пользователя</label>
        <input class="log__in" type="text" id="name" name="name" placeholder="Имя пользователя" >
   
        <label class="log__n" for="password">Пароль</label>
        <input class="log__in" type="password" id="password" name="password" placeholder="Пароль">
   

    <input class="log__button" type="submit" value="Зарегистрироваться">
 </div>
</form>

<%- include('particles/footer.ejs') %>