<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Айвазовский</title>
        <h1 class="section__nazvanie">Галерея картин Ивана Константиновича Айвазовского </h1>
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>