<ul class="menu">
  <li><a class="you" href="/">Главная</a></li>
  <li><a class="you" href="/catalog">Картины Айвазовского</a>
    <ul>
      <% for (let i = 0; i < titles.length; i++) { %>
        <li><a class="you" href="/cart/<%= titles[i].id %>"><%= titles[i].title %></a></li>
        <% } %>
    </ul>
  </li>
  <% if (auth) { %>
  <li><a class="you" href="/add">Добавить</a></li>
  <li><a class="you" href="/logout">Выйти</a></li>
  <% } else { %>
  <li><a class="you" href="/auth">Авторизация</a></li>
  <% } %>
 
</ul>