<ul class="menu">
  <li><a class="you" href="/">Главная</a></li>
  <li><a class="you" href="/catalog">Картины Айвазовского</a>
    <ul>
      <% for (let i = 0; i < titles.length; i++) { %>
        
        <li><a class="you"><%= titles[i].title %></a></li>
      <!-- <li><a class="you" href="/val">9 Вал</a></li>
      <li><a class="you" href="/more">Черное море</a></li>
      <li><a class="you" href="/bosfor">Лунная ночь на Босфоре</a></li>
      <li><a class="you" href="/gnev">Гнев морей</a></li>
      <li><a class="you" href="/brig">Бриг «Меркурий», атакованный двумя турецкими кораблями</a></li>
      <li><a class="you" href="/egipet">Пирамиды</a></li>
      <li><a class="you" href="/feodosia">Феодосия. Лунная ночь</a></li>
      <li><a class="you" href="/boi">Чесменский бой</a></li>
      <li><a class="you" href="/pushkin">Пушкин на берегу Чёрного моря</a></li>
      <li><a class="you" href="/korabl">Тонущий корабль</a></li>
      <li><a class="you" href="/tiflis">Вид Тифлиса от Сейд-Абаза</a></li>
      <li><a class="you" href="/crush">После кораблекрушения</a></li> -->
      <% } %>
    </ul>
  </li>
  <% if (auth) { %>
  <li><a class="you" href="/add">Добавить</a></li>
  <li><a class="you" href="/logout">Выйти</a></li>
  <% } else { %>
  <li><a class="you" href="/auth">Авторизация</a></li>
  <% } %>
  <!-- <li><a class="you" href="/lock">Нет доступа</a></li> -->
</ul>